<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" style="color: white;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary" (click)="wishlist()">
      <ion-button>
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: white;">Product List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div padding *ngIf='product=="Blank"'>
    <h3 style="color: green;padding-left: 5px;"><b>There Is No Product Avilable In This Category</b></h3>
</div> -->
  <!-- <div class="smallScreen" *ngFor="let item of productList" (click)="productDetail(item.PID,item.ProductName)">
    <ion-item>
      <ion-thumbnail slot='start'><img src="https://rbtech.in/GOODLUCK/{{item.image_small}}"style=" border: 1px solid #3880FF; border-radius: 8px;" /> </ion-thumbnail>
      <ion-label>
        <h2 >{{item.ProductName}}</h2>
        <p style="font-size: 1.0rem;">{{item.ProductCode}}</p>
      </ion-label>
    </ion-item>
  </div> -->
  <div class="row" style="padding-top:3px">
    <div class="column" *ngFor="let item of productList">
      <div class="card" (click)="productDetail(item.PID,item.ProductName)">
        <img src="https://rbtech.in/GOODLUCK/{{item.image_small}}"/>
        <h6 class="fonstsize">{{item.ProductName}}</h6>
      </div>
    </div>
  </div>
</ion-content>