<!-- <ion-content fullscreen>
  <br>
  <br> <br>
  <br>
  <br>
<ion-card>
  <img src="./assets/imgs/thanks.gif"/>
  <h4 style="text-align: center;"><b>Thank You!!!</b></h4>
  <ion-button color="tertiary" shape="round" fill="outline" (click)="home()" style="padding-left: 88px;">
      Go To Home
  </ion-button>
</ion-card>
</ion-content> -->
<br>
  <br> <br>
  <br>
  <br>
<div mat-dialog-content align="center">
  <!-- <ion-card> -->
    <img src="./assets/imgs/thanks.gif"/>
    <h4 style="text-align: center;color: black;"><b>Thank You!!!</b></h4>
    <!-- <ion-button color="tertiary" shape="round" fill="outline" (click)="home()" style="padding-left: 88px;">
        Go To Home
    </ion-button> -->
  <!-- </ion-card> -->
  <!-- <img src="https://rbtech.in/GOODLUCK/{{item.image_big}}" style="padding: 3px;"/> -->
 </div>
 <!-- <div mat-dialog-actions align="end">
   <button  mat-raised-button color="warn" (click)="onNoClick()">Go To Home</button>
 </div> -->