<div id="header" class="transparent_header" data-color="">
    <div class="header_top_bar" style="background-color: #000080">
       <div class="container">
          <div class="clearfix">
             <div class="pull-right">
                <div class="header_login_url"> <a href=""> Login </a> <span class="vertical_divider"></span> <a href="">Register</a></div>
             </div>
             <div class="pull-right xs-pull-left">
               <ul class="top_bar_info clearfix">
                  <li class="hidden-info"> <i class="fa fa-envelope-o" aria-hidden="true"></i> DawnsAcademy@gmail.com</li>
                  <li class=""> <i class="fa fa-phone"></i> +1 212-226-3126 <span class="vertical_divider"></span></li> 
                  <li>
                     <div class="header_top_bar_socs">
                        <ul class="clearfix">
                           <span class="vertical_divider"></span>
                           <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </div>
         
          </div>
       </div>
    </div>
    <div class="header_default header_default">
       <div class="container">
          <div class="row">
             <div class="col-md-2 col-sm-12 col-xs-12">
                <div class="logo-unit"> <a href="index.html"> <img class="img-responsive logo_transparent_static visible" src="assets/images/logo.png" style="width: 190px;" alt="Classic LMS"> <img class="img-responsive logo_colored_fixed hidden" src="assets/images/logo.png" style="width: 253px;" alt="Classic LMS"> </a></div>
                <button type="button" class="navbar-toggle collapsed hidden-lg hidden-md" data-toggle="collapse" data-target="#header_menu_toggler"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
             </div>
             <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
                <div class="collapse navbar-collapse header-menu-mobile" id="header_menu_toggler">
                   <ul class="header-menu clearfix">
                      <li id="menu-item-1856" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1856"><a href="courses/index.html">Courses</a></li>
                      <li id="menu-item-1568" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1568">
                         <a href="#">Course Formats</a><span class="arrow"><i class="fa fa-angle-right"></i></span>
                         <ul class="sub-menu">
                            <li id="menu-item-1569" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1569"><a href="https://stylemixthemes.com/masterstudy/udemy-affiliate/courses/the-complete-web-developer-course-2-0/">Udemy Affiliate Course</a></li>
                            <li id="menu-item-1570" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1570"><a href="https://stylemixthemes.com/masterstudy/white-lms/courses/real-things-art-painting-by-jason-ni/">Course Style 1</a></li>
                            <li id="menu-item-1572" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1572"><a href="courses/how-to-be-a-dj-make-electronic-music/index.html">Course Style 2</a></li>
                            <li id="menu-item-1573" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1573"><a href="https://stylemixthemes.com/masterstudy/ms/courses/basic-time-management-course/">Offline Course</a></li>
                            <li id="menu-item-1574" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1574">
                               <a href="#">Free Courses</a>
                               <ul class="sub-menu">
                                  <li id="menu-item-1575" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1575"><a href="https://stylemixthemes.com/masterstudy/dark-lms/courses/nvidia-and-ue4-technologies-overview-and-practice/">Free Course Style 1</a></li>
                                  <li id="menu-item-1576" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1576"><a href="https://stylemixthemes.com/masterstudy/white-lms/courses/web-coding-and-apache-basics/">Free Course Style 2</a></li>
                                  <li id="menu-item-1577" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1577"><a href="https://stylemixthemes.com/masterstudy/white-lms/courses/how-to-work-with-legendary-red-camera/">Free Course Style 3</a></li>
                                  <li id="menu-item-1578" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1578"><a href="courses/how-to-work-with-legendary-red-camera/index.html">Free Course Style 4</a></li>
                               </ul>
                            </li>
                            <li id="menu-item-4951" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4951"><a href="https://stylemixthemes.com/masterstudy/white-lms/courses/basics-of-masterstudy/880-3025">Lesson Style 1</a></li>
                            <li id="menu-item-4952" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4952"><a href="https://stylemixthemes.com/masterstudy/academy/courses/make-your-concept-right-and-beautiful/1000-16">Lesson Style 2</a></li>
                         </ul>
                      </li>
                      <li id="menu-item-1223" class="stm_lms_badge_menu menu-item menu-item-type-custom menu-item-object-custom menu-item-1223"><a title="New" href="indexc55d.html?demo_login=https://stylemixthemes.com/masterstudy/classic-lms/lms-manage">Add Course</a></li>
                      <li id="menu-item-1191" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1191">
                         <a href="https://stylemixthemes.com/masterstudy/#demos">Demos</a><span class="arrow"><i class="fa fa-angle-right"></i></span>
                         <ul class="sub-menu">
                            <li id="menu-item-1475" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1475"><a href="https://stylemixthemes.com/masterstudy/udemy-affiliate/">Udemy Affiliate</a></li>
                            <li id="menu-item-1192" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1192"><a href="https://stylemixthemes.com/masterstudy/white-lms/">Light LMS</a></li>
                            <li id="menu-item-1194" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1194"><a href="https://stylemixthemes.com/masterstudy/dark-lms/">Dark LMS</a></li>
                            <li id="menu-item-1195" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1195"><a href="https://stylemixthemes.com/masterstudy/ms/">Offline Courses</a></li>
                            <li id="menu-item-1193" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1193"><a href="https://stylemixthemes.com/masterstudy/academy/">Online Academy</a></li>
                            <li id="menu-item-1196" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1196"><a href="https://stylemixthemes.com/masterstudy/course-hub/">Course Hub</a></li>
                            <li id="menu-item-1768" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1768"><a href="index.html" aria-current="page">Classic LMS</a></li>
                            <li id="menu-item-1767" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1767"><a href="https://stylemixthemes.com/masterstudy/one-instructor/">Private Instructor</a></li>
                            <li id="menu-item-3823" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3823"><a href="https://stylemixthemes.com/masterstudy/rtl-demo/">RTL Demo</a></li>
                            <li id="menu-item-3824" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3824"><a href="https://stylemixthemes.com/masterstudy/buddypress-demo/">BuddyPress Demo</a></li>
                            <li id="menu-item-4887" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4887"><a href="https://stylemixthemes.com/masterstudy/distance-learning/">Distance Learning</a></li>
                         </ul>
                      </li>
                      <li id="menu-item-1581" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1581">
                         <a href="#">Pages</a><span class="arrow"><i class="fa fa-angle-right"></i></span>
                         <ul class="sub-menu">
                            <li id="menu-item-408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-408"><a href="about-us/index.html">About Us</a></li>
                            <li id="menu-item-5094" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5094">
                               <a href="#">Blog</a>
                               <ul class="sub-menu">
                                  <li id="menu-item-5073" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5073"><a href="blog/index.html">Blog Grid Style</a></li>
                                  <li id="menu-item-5095" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-5095"><a href="our-main-target-is-to-developing-yourself-as-a-leader/index.html">Blog Single Post</a></li>
                               </ul>
                            </li>
                            <li id="menu-item-5077" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5077">
                               <a href="#">Features</a>
                               <ul class="sub-menu">
                                  <li id="menu-item-1870" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1870"><a href="membership-account/membership-levels/index.html">Pricing Plans</a></li>
                                  <li id="menu-item-5074" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5074"><a href="shortcodes/index.html">Shortcodes</a></li>
                                  <li id="menu-item-5075" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5075"><a href="typography/index.html">Typography</a></li>
                               </ul>
                            </li>
                            <li id="menu-item-5079" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5079">
                               <a href="#">Gallery</a>
                               <ul class="sub-menu">
                                  <li id="menu-item-5076" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5076"><a href="gallery-one/index.html">Gallery  Masonry</a></li>
                                  <li id="menu-item-5078" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5078"><a href="index0e1c.html?sidebar_position=none">Gallery Grid Style</a></li>
                                  <li id="menu-item-5080" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5080"><a href="gallery/index.html">Gallery with Sidebar</a></li>
                               </ul>
                            </li>
                            <li id="menu-item-5093" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5093">
                               <a href="#">Events</a>
                               <ul class="sub-menu">
                                  <li id="menu-item-5082" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5082"><a href="events/index0e1c.html?sidebar_position=none">Events Grid</a></li>
                                  <li id="menu-item-5081" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5081"><a href="events/index.html">Events with Sidebar</a></li>
                                  <li id="menu-item-5092" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5092"><a href="events/digital-education-market-briefing/index.html">Events Single</a></li>
                               </ul>
                            </li>
                            <li id="menu-item-418" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-418"><a href="contact-us/index.html">Contact Us</a></li>
                         </ul>
                      </li>
                      <li>
                         <form role="search" method="get" id="searchform-mobile" action="https://stylemixthemes.com/masterstudy/classic-lms/">
                            <div class="search-wrapper"> <input placeholder="Search..." type="text" class="form-control search-input" value="" name="s"> <button type="submit" class="search-submit"><i class="fa fa-search"></i></button></div>
                         </form>
                      </li>
                   </ul>
                </div>
             </div>
             <div class="col-md-10 col-sm-10 col-sm-offset-0 hidden-xs hidden-sm">
                <div class="stm_menu_toggler" data-text="Menu"></div>
                <div class="header_main_menu_wrapper clearfix">
                   <div class="pull-right hidden-xs right_buttons">
                     <div class="search-toggler-unit">
                        <div class="search-toggler" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search"></i></div>
                     </div>
                      <div class="stm_lms_wishlist_button"> <a _ngcontent-emv-c18="" _ngcontent-vyh-c19="" href="lms-user_profile/1.html" class="btn btn-default">
                        <i _ngcontent-emv-c18="" aria-hidden="true" class="fa fa-upload"></i> Upload</a>
                     </div>
                     <div class="stm_lms_wishlist_button"> <a _ngcontent-emv-c18="" _ngcontent-vyh-c19="" href="lms-user_profile/1.html" class="btn btn-default">
                         Volunteer</a>
                     </div>
                   </div>
                   <div class="collapse navbar-collapse pull-right">
                      <ul class="header-menu clearfix">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1568">
                           <a href="#">Home</a>
                       </li>
                        <li class="stm_lms_badge_menu menu-item menu-item-type-custom menu-item-object-custom menu-item-1223"><a title="" href="">About Us</a></li>
                         <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1856"><a href="#">Courses</a></li>
                         <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1191">
                            <a href="">Videos</a>
                         </li>
                         <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1581">
                            <a href="#">Donation</a>
                         </li>
                         <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1582">
                           <a href="#">Volunteer</a>
                        ></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1582">
                           <a href="#">Blogs</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1582">
                           <a href="#">Contact Us</a>
                       </li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
