.dgi{
    display: inline-block;
    position: relative;
    top: 5px;
    width: 35px;
    text-align: center;
}
table {
    // border-collapse: collapse;
    border:3px solid #3880FF;
    border-radius: 1em;
   overflow: hidden;
    border-bottom: 2px solid #3880FF; 

  }
  
  th, td {
    padding: 0.5em;
    background: rgb(240, 244, 245);
    border-bottom: 2px solid #3880FF; 
  }
  
  .css-mine {
    margin-top: 2em;
    clear: both;
  }
  .data{
    width: 100%;
  }
  .logo{
    height: 60px;
    width: auto;
   }
   p{
     margin-bottom: 0.5rem;
   }