<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="./assets/imgs/logo.png" class="logo"/>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item (click)="orderHistory()">
    <ion-icon name="reorder-four" slot="start" color="primary"></ion-icon>
    <ion-icon name="arrow-forward" slot="end" color="primary"></ion-icon>
    <ion-label>
      <h2><b>Order History:</b></h2>
    </ion-label>
  </ion-item>
  <ion-item >
    <ion-icon name="cog" slot="start" color="primary"></ion-icon>
    <ion-icon name="arrow-forward" slot="end" color="primary"></ion-icon>
    <ion-label>
      <h2><b>Support</b></h2>
    </ion-label>
  </ion-item>
  <ion-item >
    <ion-icon name="person" slot="start" color="primary"></ion-icon>
    <ion-icon name="arrow-forward" slot="end" color="primary"></ion-icon>
    <ion-label>
      <h2><b>About Us</b></h2>
    </ion-label>
  </ion-item>
  <!-- <ion-item>
    <ion-icon name="business" slot="start" color="primary"></ion-icon>
    <ion-label>
      <h6><b>Shop Name:</b></h6>
      <p>Book Store</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="mail" slot="start" color="primary"></ion-icon>
    <ion-label>
      <h6><b>Email:</b></h6>
      <p>abc@gmail.com</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="call" slot="start" color="primary"></ion-icon>
    <ion-label>
      <h6><b>Mobile:</b></h6>
      <p>9458703223</p>
    </ion-label>
  </ion-item> -->
  <ion-item (click)="return()">
    <ion-icon name="return-up-forward" slot="start" color="primary"></ion-icon>
    <ion-icon name="arrow-forward" slot="end" color="primary"></ion-icon>
    <ion-label>
      <h2><b>Return Policy:</b></h2>
    </ion-label>
  </ion-item>
</ion-content>