<!-- <ion-content class="google-bg">
  <div class="main">
    <ion-row>
      <ion-col>
        <ion-img class="logo" src="./assets/imgs/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="container">
          <input type="text" placeholder="Enter Email/Mobile no." name="email" [(ngModel)]="email" required />
          <input type="password" placeholder="Enter Your Password" name="password" [(ngModel)]="pass" required />
          <p class="sCenter">
            <ion-button shape="round" fill="outline" color="danger" (click)="login(email,pass)">Login
            </ion-button>
          </p>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <div class="container">
    <ion-button shape="round" fill="outline" (click)="register()" color="danger">Register</ion-button>
    <span class="psw" (click)="forget()">Forgot password?</span>
  </div>
</ion-footer> -->
<ion-content class="google-bg">
  <div class="main">
    <div class="card-columns">
      <ion-row>
        <ion-col>
          <ion-img class="logo" src="./assets/imgs/logo.png"></ion-img>
        </ion-col>
      </ion-row>
      <div class="card bg-light">
        <div class="card-body text-center">
          <ion-row>
            <ion-col>
              <div class="container">
                <input type="text" placeholder="Enter Email/Mobile no." name="email" [(ngModel)]="email" required />
                <input type="password" placeholder="Enter Your Password" name="password" [(ngModel)]="password" required />
                <p class="sCenter">
                  <ion-button shape="round" fill="outline" color="primary" (click)="login(email,password)">Login
                  </ion-button>
                </p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="container">
    <ion-button shape="round" fill="outline" (click)="register()" color="primary">Register</ion-button>
    <span class="psw" (click)="forget()">Forgot password?</span>
  </div>
</ion-footer>