<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order Detail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="padding-left: 10px;">
    <h5>Order Id-ODF1455666</h5>
    <h6>Ordered: 12th March 19</h6>
  </div>
  <div style="padding: 2px;">
   <table class="data">
   <tr>
    <th>
      <h6><b>Product Name</b></h6>
      <!-- <h6><b>Ordered: 12th March 19</b></h6> -->
      <p>Seller:SuperNet Dadar</p>
      <p>Unit:200 Dozen</p>
      <p>Price:&#8377;580</p>
    </th>
    <th ><img src="./assets/images/product1.jpg" style="border-radius: 5px;width: 68px;" /></th>
  </tr>
</table>
<table class="data">
  <tr>
   <th>
    <h6><b>Product Name</b></h6>
     <!-- <h6><b>Ordered: 12th March 19</b></h6> -->
     <p>Seller:SuperNet Dadar</p>
     <p>Unit:200 Dozen</p>
     <p>Price:&#8377;580</p>
   </th>
   <th ><img src="./assets/images/product1.jpg" style="border-radius: 5px;width: 68px;" /></th>
 </tr>
</table>
<table class="data">
  <tr>
   <th>
    <h6><b>Product Name</b></h6>
     <!-- <h6><b>Ordered: 12th March 19</b></h6> -->
     <p>Seller:SuperNet Dadar</p>
     <p>Unit:200 Dozen</p>
     <p>Price:&#8377;580</p>
   </th>
   <th ><img src="./assets/images/product1.jpg" style="border-radius: 5px;width: 68px;" /></th>
 </tr>
</table>
<br>
<mat-vertical-stepper>
  <mat-step label="Ordered & Approved ">
    Thusday, 2nd April 2020
  </mat-step>
  <mat-step label="Delivered">
    Saturday, 5th April  2020
    Your Item Has been Delivered.
  </mat-step>
 
</mat-vertical-stepper>
  </div>
  <div >
    <ion-card style="padding: 5px;">
      <h6><b>Shipping Details:</b></h6>
      <p><b>Mr Abc Kumar</b></p>
     <p> Goregaon,East Borivali-400650 Mumbai</p>
     <p>Phone:9458706200</p>
    </ion-card>
    <ion-item>
      <ion-icon name="arrow-down-circle" slot="end" color="primary"></ion-icon>
      <ion-label>
        <h2><b>Download Invoice</b></h2>
      </ion-label>
    </ion-item>
  </div>
</ion-content>