<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary" (click)="search()">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary" (click)="notification()">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
        <ion-badge style="font-size: .6rem">3</ion-badge>
      </ion-button>
    </ion-buttons>
    <img src="./assets/imgs/logo.png" class="logo"/>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <div class="verticalScrollContainer">
    <ion-card *ngFor="let VerticalCards of bannerimg | slice:0:3;" class="cardVertical">
      <img src="https://rbtech.in/GOODLUCK/{{VerticalCards.image_big}}" style="height:180px" />
    </ion-card>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-chip class="bg">
          <ion-label color="light">Categories</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="6" style="padding-left: 88px;" (click)="allCategory()">
        <ion-chip class="bg"> 
          <ion-label color="light">View All</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="thumnails">
    <div class="list-thumbnail">
      <ion-card class="img-thumb" *ngFor="let item of  categoryData" (click)="checkSub(item.CID,item.CategoryName)">
        <img src="https://rbtech.in/GOODLUCK/{{item.image_small}}" class="img1"/>
      </ion-card>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-chip class="bg">
          <ion-label color="light">Fetured Product</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="6" style="padding-left: 88px;" (click)="category()">
        <ion-chip class="bg">
          <ion-label color="light">View All</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="row">
    <div class="column" *ngFor="let item of productData  | slice:0:6;">
      <div class="card" (click)="productDetail(item.PID,item.ProductName)">
        <img src="https://rbtech.in/GOODLUCK/{{item.image_small}}"/>
        <h6 class="fonstsize">{{item.ProductName}}</h6>
        <!-- <h6>{{item.PriceData}}</h6> -->
        <!-- <div *ngFor="let item1 of item.PriceData">
          <h6>{{item1.productprice_ppc}}</h6>
        </div> -->
      </div>
    </div>
  </div>
  <!-- <div class="thumnails">
    <div class="list-thumbnail">
      <ion-card class="img-thumb" *ngFor="let item of productData" (click)="productDetail(item.PID,item.ProductName)">
        <img src="https://rbtech.in/GOODLUCK/{{item.image_small}}" class="img1"/>
      </ion-card>
    </div>
  </div> -->
  <!-- Single Banner -->
  <!-- <div *ngFor="let VerticalCards of adBanner | slice:0:2;" style="padding: 12px;">
    <img src="https://rbtech.in/GOODLUCK/{{VerticalCards.image_big}}" style="border-radius: 4px;height: 90px;width: 450px;"/>
  </div> -->
  <ion-grid>
    <ion-row>
      <ion-col width-50 >
        <!-- <ion-card class="cardui">  -->
          <img src="https://rbtech.in/GOODLUCK/{{adBanner}}" style="height: 110px;"/>
        <!-- </ion-card> -->
      </ion-col>
      <ion-col width-50>
        <!-- <ion-card class="cardui"> -->
          <img src="https://rbtech.in/GOODLUCK/{{adBanner1}}" style="height: 110px;"/>
        <!-- </ion-card> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-chip class="bg">
          <ion-label color="light">Latest Products</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="6" style="padding-left: 88px;" (click)="category()">
        <ion-chip class="bg">
          <ion-label color="light">View All</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="row">
    <div class="column" *ngFor="let item of productData | slice:6:12;">
      <div class="card" (click)="productDetail(item.PID,item.ProductName)">
        <img src="https://rbtech.in/GOODLUCK/{{item.image_small}}"/>
        <h6 class="fonstsize">{{item.ProductName}}</h6>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="column" *ngFor="let item of productData">
      <img src="https://rbtech.in/GOODLUCK/{{item.image_small}}" class="img1"/>
      <h6>{{item.ProductName}}</h6>
    </div>
  </div> -->
  
  <!-- <div class="thumnails">
    <div class="list-thumbnail">
      <ion-card class="img-thumb" *ngFor="let item of productData" (click)="productDetail(item.PID,item.ProductName)">
        <img src="https://rbtech.in/GOODLUCK/{{item.image_small}}" class="img1"/>
      </ion-card>
    </div>
  </div> -->

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-chip class="bg">
          <ion-label color="light">Our Trusted Brand</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="6" style="padding-left: 88px;" (click)="category()">
        <ion-chip class="bg">
          <ion-label color="light">View All</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="thumnails">
    <div class="list-thumbnail">
      <ion-card class="img-thumb" *ngFor="let item of brandData" (click)="brandProduct(item.brand_id,item.Name)">
        <img src="https://rbtech.in/GOODLUCK/{{item.image_small}}" class="img1"/>
      </ion-card>
    </div>
  </div>
  <!-- <ion-grid>
    <ion-row>
      <ion-col width-33 >
        <ion-card class="cardui" [routerLink]="'/productlist/'" routerDirection="forward"> 
          <ion-icon name="home-outline" class="iconsui"></ion-icon>
        </ion-card>
      </ion-col>
      <ion-col width-33>
        <ion-card class="cardui">
          <ion-icon name="options-outline" class="iconsui"></ion-icon>
        </ion-card>
      </ion-col>
      <ion-col width-34>
        <ion-card class="cardui">
          <ion-icon name="git-compare-outline" class="iconsui"></ion-icon>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-33 >
        <ion-card class="cardui" [routerLink]="'/productlist/'" routerDirection="forward"> 
          <ion-icon name="home-outline" class="iconsui"></ion-icon>
        </ion-card>
      </ion-col>
      <ion-col width-33>
        <ion-card class="cardui">
          <ion-icon name="podium-outline" class="iconsui"></ion-icon>
        </ion-card>
      </ion-col>
      <ion-col width-34>
        <ion-card class="cardui">
          <ion-icon name="options-outline" class="iconsui"></ion-icon>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>