<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Product Category</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <div *ngFor="let item of categoryData">
    <ion-item (click)="checkSub(item.CID)">
      <ion-label  [innerHTML]="item.CategoryName"></ion-label>
      <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
    </ion-item>
  </div>
  </ion-list>
</ion-content>