<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary" (click)="whatApp()">
      <ion-button>
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary" (click)="notification()">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
        <ion-badge style="font-size: .6rem">5</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="cs" *ngIf="editable">
    <div class="top-right" (click)="cancelChange()">
      <h6><b>Cancel</b></h6>
    </div>
    <div class="centered">
      <ion-avatar>
        <img src="../assets/imgs/av.png" />
      </ion-avatar>
    </div>
    <div class="centered2">
      <ion-chip style="color: white">
        <ion-label>Change Pic</ion-label>
      </ion-chip>
    </div>
  </div>
  <div class="main" *ngIf="editable">
    <div class="card-columns"> 
      <div class="card bg-light">
        <div class="card-body text-center">
          <ion-row>
            <ion-col>
              <div class="container">
                <input type="text" placeholder="Enter First Name" [(ngModel)]="fullname" name="fullname" required />
                <input type="text" placeholder="Enter Last Name" [(ngModel)]="lastName" name="lastname" required />
                <input type="text" placeholder="Enter Shop Name" [(ngModel)]="shopname" name="shopname" required />
                <input type="text" placeholder="Enter Email" [(ngModel)]="email" name="email" required />
                <input type="number" placeholder="Enter Mobile no." [(ngModel)]="mobile" name="email" required />
                <input type="text" placeholder="Address" [(ngModel)]="address" name="email" required />
                <input type="text" placeholder="GST" [(ngModel)]="gst" name="gst" required />
                <input type="text" placeholder="PAN No." [(ngModel)]="pan" name="pan" required />
                <p class="sCenter">
                  <ion-button shape="round" fill="outline" (click)="update()">Update
                  </ion-button>
                </p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>

  <!-- Read only Field -->
  <div class="cs" *ngIf="!editable">
    <div class="top-right" (click)="editProofile()">
      <h6><b>Edit</b></h6>
    </div>
    <div class="centered">
      <ion-avatar>
        <img src="../assets/imgs/av.png" />
      </ion-avatar>
    </div>
    <div class="centered2">
      <ion-chip style="color: white" (click)="changePassword()">
        <ion-label>Change Password</ion-label>
      </ion-chip>
    </div>
  </div>
  <!-- <div class="main1" *ngIf="!editable"> -->
  <div *ngIf="!editable">
    <ion-item>
      <ion-icon name="person" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h6><b>First Name:</b></h6>
        <p>{{fullname}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="person-circle" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h6><b>Last Name:</b></h6>
        <p>{{lastName}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="business" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h6><b>Shop Name:</b></h6>
        <p>{{shopname}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h6><b>Email:</b></h6>
        <p>{{email}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h6><b>Mobile:</b></h6>
        <p>{{mobile}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="navigate" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h6><b>Address:</b></h6>
        <p>{{address}}</p>
      </ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-icon name="person" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h6><b>Address:</b></h6>
        <p>{{address}}</p>
      </ion-label>
    </ion-item> -->
    <!-- <div class="card-columns">
      <div class="card bg-light">
        <div class="card-body text-center">
          <ion-row>
            <ion-col>
              <div class="container"> -->

    <!-- <input type="text" placeholder="Enter Full Name" [readonly]="true" [(ngModel)]="fullname"
                  name="fulllname" required />
                  <input type="text" placeholder="Enter Last Name" [readonly]="true" [(ngModel)]="lastName"
                  name="lastname" required />
                <input type="text" placeholder="Enter Shop Name" [readonly]="true"  [(ngModel)]="shopname"
                  name="shopname" required />
                <input type="text" placeholder="Enter Email" [readonly]="true"  [(ngModel)]="email" name="email"
                  required />
                <input type="number" placeholder="Enter Mobile no." [readonly]="true"  [(ngModel)]="mobile" name="email"
                  required />
                <input type="text" placeholder="Address" [(ngModel)]="address" [readonly]="true"  name="email"
                  required />
                <input type="text" placeholder="GST" [(ngModel)]="gst" name="gst" [readonly]="true"  required />
                <input type="text" placeholder="PAN No." [(ngModel)]="pan" [readonly]="true" name="pan" required /> -->
    <!-- </div>
            </ion-col>
          </ion-row><ion-icon name="person-circle"></ion-icon>
        </div>
      </div>
    </div> -->
  </div>
</ion-content>