<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" [routerLink]="'/cart'">
      <ion-button>
        <ion-icon name="cart"></ion-icon>
        <ion-badge style="font-size: .8rem">{{count1}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of productDataAll">
  <ion-card class="br">
    <ion-slides autoplay="2000" loop="true" pager="true" [options]="slideOpts" 
      style="background-color: white" pager="true">
      <ion-slide *ngFor="let item of productImage | slice: 0:5">
        <img src="https://rbtech.in/GOODLUCK/{{item.image_slider}}" />
      </ion-slide>
    </ion-slides>
    <!-- <img src="https://aspeeapp.com{{productImg1}}" *ngIf="!ready" /> -->
    <ion-card-header>
      <h5><b>{{productName}}</b></h5>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      <h5 [innerHTML]="productDesc"></h5>
    </ion-card-content>
  </ion-card>
  <div style="padding-left: 10px;padding-right: 10px;">
    <table class="data">
      <tr>
        <th>Unit</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      <tr  *ngFor="let item of priceData1">
        <td>{{item.productprice_unit}}</td>
        <td>{{item.productprice_qty}}</td>
        <td>&#8377;{{item.productprice_ppc}}</td>
      </tr>
    </table>
  </div>
  <div style="padding:15px">
    <ion-item>
      <ion-label>Select Unit</ion-label>
      <ion-select placeholder="Select One" (ionChange)="change($event)">
        <ion-select-option value="{{item}}" *ngFor="let item of unitData">{{item}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <form  #myForm="ngForm">
            <div class="form-group">
              <label for="email">Enter Qty:</label>
              <input type="number" class="form-control" id="firstname" (keyup)="onKey($event)" required [(ngModel)]="firstname" name="firstname">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid" (click)="addToCart(item)">Update Cart</button>
          </form>
        </ion-col>
        <ion-col size="6">
          <div class="form-group">
            <label for="email">Amount In Rs.</label>
            <input type="number" class="form-control" id="firstname" required [readonly]="true" [(ngModel)]="priceCalulate" name="price">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
</ion-content>
