<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-button expand="full" >Select Payment Method</ion-button> -->
  <ion-list>
    <ion-item (click)="payWithPaypal()">
      <ion-avatar slot="start" class="imgsc">
        <img  src="./assets/imgs/paypal.png" >
      </ion-avatar>
      <ion-label>
        <h2><b>PayPal</b></h2>
        <h3> &#8377;{{totalPayment}}</h3>
      </ion-label>
    </ion-item>
    <ion-item (click)="payWithCash()">
      <ion-avatar slot="start" class="imgsc">
        <img src="./assets/imgs/cod.jpg">
      </ion-avatar>
      <ion-label>
        <h2><b>Cash On Delivery</b></h2>
        <h3> &#8377;{{totalPayment}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>