<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Search Your Product</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar showCancelButton="focus" [(ngModel)]="searchval" (change)="searchProduct(searchval)" cancelButtonText="Custom Cancel"></ion-searchbar>
  <div style="padding: 8px;" *ngIf="!searchData">
  <ion-button *ngFor="let item of brandData">{{item.Name}}</ion-button>
  </div>
  <div class="row" style="padding-top:3px">
    <div class="column" *ngFor="let item of productData">
      <div class="card" (click)="productDetail(item.PID,item.ProductName)">
        <img src="https://rbtech.in/GOODLUCK/{{item.image_small}}"/>
        <h6 class="fonstsize">{{item.ProductName}}</h6>
      </div>
    </div>
  </div>
  <!-- <div style="padding: 10px;" *ngIf="searchData">
  There is no Product Related to {{searchval}} Keyword
  </div> -->
</ion-content>