<ion-content class="google-bg">
  <div class="main">
    <div class="card-columns">
      <ion-row>
        <ion-col>
          <ion-img class="logo" src="./assets/imgs/logo.png"></ion-img>
        </ion-col>
      </ion-row>
      <div class="card bg-light">
        <div class="card-body text-center">
          <ion-row>
            <ion-col>
              <div class="container">
                <input type="text" placeholder="Enter Email Id" name="email" [(ngModel)]="email" required />
                <p class="sCenter">
                  <ion-button shape="round" fill="outline" color="primary" (click)="forgetPassword(email)">Send Email
                  </ion-button>
                </p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="container">
    <ion-button shape="round" fill="outline" (click)="login()" color="primary">Login</ion-button>
  </div>
</ion-footer>