<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content>
      <div>
          <div class="smallScreen">
              <ion-item-sliding>
            <ion-item>
                <div class="top-right">
                    <img src="../assets/imgs/dot.png" style="height: 15px;width:15px" /></div>
              <ion-label>
                <h6>Latest Offer</h6>
                <p class="paraSmallExtraa" text-wrap>For More Detail Clikc hehre For More Detail Click here </p>
              </ion-label>
              <ion-item-options side="end">
                  <ion-item-option color="danger"><ion-icon name="trash" style="font-size: 1.5rem;"></ion-icon></ion-item-option>
                </ion-item-options>
            </ion-item>
            </ion-item-sliding>
            <ion-item-sliding>
              <ion-item>
                  <div class="top-right">
                      <img src="../assets/imgs/dot.png" style="height: 15px;width:15px" /></div>
                <ion-label>
                  <h6>Latest Offer</h6>
                  <p class="paraSmallExtraa" text-wrap>For More Detail Clikc hehre For More Detail Clikc hehre </p>
                </ion-label>
                <ion-item-options side="end">
                    <ion-item-option color="danger"><ion-icon name="trash" style="font-size: 1.5rem;"></ion-icon></ion-item-option>
                  </ion-item-options>
              </ion-item>
              </ion-item-sliding>
              <ion-item-sliding>
                <ion-item>
                    <div class="top-right">
                        <img src="../assets/imgs/dot.png" style="height: 15px;width:15px" /></div>
                  <ion-label>
                    <h6>Latest Offer</h6>
                    <p class="paraSmallExtraa" text-wrap>For More Detail Clikc hehre For More Detail Clikc hehre </p>
                  </ion-label>
                  <ion-item-options side="end">
                      <ion-item-option color="danger"><ion-icon name="trash" style="font-size: 1.5rem;"></ion-icon></ion-item-option>
                    </ion-item-options>
                </ion-item>
                </ion-item-sliding>
          </div>
        </div>
  </ion-content>