      
.google-bg {
    --background: linear-gradient(var(--ion-color-primary), white);
    }
    .main {
      height: 80%;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 3px;
      ion-row {
        margin: 10px;
      }
    }
    .logo {
      padding-top: 70px;
      width: 40%;
      margin: auto;
    }
    .title {
      font-size: 24px;
      font-weight: bold;
    }
  
  
      .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 22px !important;
        margin: 0 auto !important;
      }
  
        .col{
        padding: 0px;
        }
        
        .logo{
        border-radius: 10px;
        width: 200px;
        height: 150px; 
        }
        
        .title{
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        font-family: unset;
        display: block;
        color: #222;
        }
            a.list-group-item {
              height:auto;
              min-height:220px;
          }
          a.list-group-item.active small {
              color:#fff;
          }
          .stars {
              margin:20px auto 1px;    
          }
          
      input[type=text], input[type=password],input[type=number],input[type=passwordType] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid rgb(48, 89, 223);
          box-sizing: border-box;
        }
        
        button {
          background-color:rgb(27, 76, 211);
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
          border-radius: 25px;
        }
        
        button:hover {
          opacity: 0.8;
        }
        
        .cancelbtn {
          width: auto;
          padding: 10px 18px;
          background-color: rgb(40, 122, 199);
        }
        
        .imgcontainer {
          text-align: center;
          margin: 24px 0 12px 0;
        }
        
        // img.avatar {
        //   width: 40%;
        //   border-radius: 50%;
        // }
        
        .container {
          padding: 10px;
        }
        
        span.psw {
          float: right;
          padding-top: 16px;
        }
        
        @media screen and (max-width: 300px) {
          span.psw {
             display: block;
             float: none;
          }
          .cancelbtn {
             width: 100%;
          }
      }
      input{
          border-radius: 14px;
      }
      .btn{
        border: none;
        cursor: pointer;
        width: 100%;
      
      }
      input:focus{
        outline: none;
      }
      .sCenter{
        text-align: center;
        padding-top: 15px;
      }
      .card{
        border-radius: 20px;
      
      }
      .card-body{
        // padding-top: 50px;
        // padding-bottom: 50px;
        padding: 0rem;
      }