<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="google-bg">
  <div class="main">
    <div class="card-columns">
      <div class="card bg-light">
        <div class="card-body text-center">
          <ion-row>
            <ion-col>
              <div class="container">
                <input type="password" placeholder="Enter Old Password" [(ngModel)]="oldpassword" name="password" required />
                <input type="password" placeholder="Enter Your New Password" name="password" [(ngModel)]="newpassword" required />
                <input type="password" placeholder="Confirm Your New Password" name="password" [(ngModel)]="newpassword1" required />
                <!-- <input type="number" placeholder="Enter Mobile no." name="mobile" [(ngModel)]="mobile"  required /> -->
                <p class="sCenter">
                  <ion-button shape="round" fill="outline" (click)="changePassword(oldpassword,newpassword,newpassword1)">Change Password
                  </ion-button>
                </p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
</ion-content>
