<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Select Address(2)</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p style="text-align: center;margin-bottom: 0.2rem;"><ion-button shape="round" (click)="addNewAddress()">Add New Address</ion-button></p>
  <div style="padding: 5px;">
    <ion-list>
      <ion-radio-group>
        <ion-item>
          <ion-label>Goregaon,East Borivali-400650 Mumbai
            <p>9458706556</p>
          </ion-label>
          <ion-radio value="cord"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Virar,East Borivali-400650 Mumbai
            <p>9458706556</p>
          </ion-label>
          <ion-radio value="duesenberg"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Dahisar,East Borivali-400650 Mumbai
            <p>9458706556</p>
          </ion-label>
          <ion-radio value="hudson"></ion-radio>
        </ion-item>
    
      </ion-radio-group>
    </ion-list>
  <!-- <ion-list radio-group >
    <ion-item>
      <ion-label>Goregaon,East Borivali-400650 Mumbai
        <p>9458706556</p>
      </ion-label>
      <ion-radio value="friends" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Virar,East Borivali-400650 Mumbai
        <p>9458706556</p>
      </ion-label>
      <ion-radio value="family"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Dahisar,East Borivali-400650 Mumbai
        <p>9458706556</p>
      </ion-label>
      <ion-radio value="enemies" [disabled]="isDisabled"></ion-radio>
    </ion-item>
  </ion-list> -->
</div>
  <!-- <ion-item>
    <ion-label>Address Type</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option   value="office" clear-input="true" (ionChange)="homeAddress()">Goregaon,East Borivali-400650 Mumbai
      </ion-select-option>
      <ion-select-option   value="office" clear-input="true"  (ionChange)="officeAddress()">Nasik Road,East Borivali-400650 Mumbai
      </ion-select-option>
    </ion-select>
  </ion-item> -->
</ion-content>